<div class="box bg-white mb-3">
    <div class="ranking-user">
        <p class="ranking-user-title"><i class="far fa-user"></i>ユーザーランキング</p>
<!--  side-bar ユーザーランキング ここから繰り返し -->
        <div class="user-panel">
            <div class="flex mb-2">
                <a href="#" class="user-icon"></a>
                <p class="user-name mr-auto"><a href="#">Name</a></p>
                <%= render 'relationships/follow' %>
            </div>
            <p class="user-explanation text-gray">かぎはゴーシュのアンコール窓たちが仲間をつかまえるかっこうですた。するとちょっと下手ございございという下やた。生</p>
            <hr>
        </div>
<!--  /side-bar ユーザーランキング ここまで繰り返し -->
        <a href="#" class="more">もっと見る</a>
    </div><!-- /ranking-user -->
</div><!-- /box -->
