<div class="box bg-white">
    <div class="ranking-post">
        <p class="ranking-post-title"><i class="far fa-user"></i>投稿ランキング</p>
<!--  side-bar 投稿ランキング ここから繰り返し -->
        <div class="post-panel">
            <div class="flex">
                <p class="post-panel-title mr-auto">ここに見出しが入ります。</p>
                <img src="..." alt="" class="post-panel-image">
            </div>
            <div class="action" id="post-panel-action">
                <i class="far fa-comment-dots"><p>58</p></i>
                <i class="fas fa-heart"><p>2</p></i>
                <i class="fas fa-link"><p>1</p></i>
            </div>
            <div class="flex">
                <a href="#" class="user-icon" id="post-panel-user-icon"></a>
                <p class="user-name" id="post-panel-user-name"><a href="#">Name</a></p>
            </div>
            <hr>
        </div><!-- /post-panel -->
<!--  /side-bar 投稿ランキング ここまで繰り返し -->
        <%= link_to "もっと見る", rankings_post_ranking_path, class: "more" %>
    </div><!-- /ranking-post -->
</div><!-- /box -->