<div class="container reply">
  <div class="activity-main">
    <ul class="activity-userIcon">
      <li class="user-icon user-icon-big"><a href="#"></a></li>
    </ul>
    <div class="activity-displayText">
      <p class="text-gray mb-2"><strong>Sheep</strong>さんから返信がありました
        <span class="activity-time">3分前</span>
      </p>
      <p class="text-gray">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れて</p>
    </div>
  </div><!-- /activity-main -->
</div><!-- /reply -->
<hr class="mb-0 hr-gray">