<div class="user-panel">
    <div class="flex mb-2">
        <% if user.image? %>
          <%= link_to image_tag(user.image, class: "user-icon user-icon-mini", style: "height: 50px; width: 50px;"), user_path(user) %>
        <% else %>
          <%= link_to image_tag('default_img.png', class: "def-user-icon def-user-icon-mini", style: "height: 50px; width: 50px;"), user_path(user) %>
        <% end %>
        <p class="user-name mr-auto"><a href="#"><%= user.name %></a></p>
        <p><a href="#" class="orange-button text-orange">フォロー</a></p>
    </div>
    <p class="user-explanation text-gray">
      <%= user.self_comment %>
    </p>
    <hr>
</div>