  <div class="post-page bg-white container border-radius-30 post-page-3">
    <div class="top-bar flex sp-hidden">
      <p class="cancel mr-auto"><a href="#" class="text-gray modal-cancel">キャンセル</a></p>
      <p><a href="#" class="orange-button text-white bg-orange save-button modal-save">保存</a></p>
    </div>
    <div class="post-page-content bg-light-gray">
      <div class="post-page-nav flex sp-hidden">
        <p class="trend-button"><a href="#" class="modal-trend">トレンド</a></p>
        <p class="search-button"><a href="#" class="modal-search">検索</a></p>
      </div>
      <div class="song-list row sp-hidden">
        <%= form_tag('/posts/track',html:{onsubmit:'return search();'},id:'track_search',method: :post,remote:true) do%>
          <input type="text" name="query" id="track_name" placeholder="曲を検索する">
          <label><i class="fas fa-search"></i></label>
        <% end %>
      </div>
      <div class="song-list row" id="artists">
        <%= render partial:'posts/artist-info'%>
      </div>
  </div>
</div>
