  <hr class="sp-show m-0 header-hr">
    <div class="post-page bg-white container">
      <div class="click-select bg-dark-gray flex sp-hidden" id="music-jacket-select">
        <p class="text-white">クリックして曲を選んでください</p>
      </div>
    <hr class="sp-show">
    <div class="edit text-light-gray">
      <div class="write-title">
        <h4 class="mr-auto">タイトル<span class="sp-hidden">を入力してください</span></h4>
        <p class="counter">0/30</p>
      </div>
      <div class="write-text">
        <p class="mr-auto sp-hidden">本文を入力してください</p>
        <div class="sp-show">
          <h5 class="mr-auto sp-show">レビュー</h5>
          <i class="fas fa-chevron-right"></i>
          <p class="sp-show review-ex">例：かぎはゴーシュのアンコール窓たちが仲間をつかまえるかっこうですた。するとちょっと下手ございございという下やた。</p>
        </div>
        <p class="counter sp-hidden">0/1000</p>
      </div>
    </div>
    <hr class="sp-show">
      <div class="draft-button sp-show">
        <p class="orange-button text-center">下書きに保存する</p>
      </div>
    </div>

    <!-- モーダル -->
    <!-- erbでrenderを使うときはここに -->
    <!--
      <div id="modal-back">
        <div id="modal">
          <div id="modal-0">
            ここにトレンド一覧のモーダル
          </div>
          <div id="modal-1">
            ここに検索フォームのモーダル
          </div>
          modal-2 は検索結果なのでなし
        </div>
      </div>
    -->
