/***** ホーム *****/
.all{
  margin-top: 96px;
}

.all .box{
  padding: 15px 15px 1.5rem;
}

/***** main *****/
.all .main{
  padding: 0;
}

/*** main 投稿者 ***/
.post-user{
  position: relative;
}

.user-icon ,.user-icon-small ,.user-icon-big{
  display: inline-block;
  background-color: pink;
  border-radius: 50%;
  float: left;
  margin-right: .5rem;
}

.user-icon{
  height:50px;
  width: 50px;
}

.user-icon-small {
  width: 40px;
  height: 40px;
}

.user-icon-big{
  width: 60px;
  height: 60px;
}

.user-icon-superbig{
  width: 85px;
  height: 85px;
}

/* ユーザー名 */
.user-name{
  margin-bottom: 3px;
}

/* 投稿日 */
.post-date{
  font-size: .75rem;
}

/*** 投稿曲 ***/
.post-image{
  position: relative;
  /*margin: 1rem 0;*/
}

.post-image img{
  background-color: pink;
  width: auto;
  // height: 200px;
  display: block;
}

/* 曲について */
.song-info{
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  padding:5px 20px 5px 5px;
}

.song-info i{
  width: 20px;
  text-align: center;
}

/*** 投稿テキスト ***/
.post-text h4{
  margin: 1rem 0;
}

/*** アクション ***/
.action{
  color: #C8C7CD;
  margin-top: 1.5rem;
}

.action p{
  display: inline-block;
}

#post-content-action i{
  margin-right: 2rem;
}

#post-content-action p{
  font-weight: 400;
}

.action i:before{
  padding-right: 5px;
}

.header-container{
  max-width: 980px;
  margin: 0 auto;
  background-color: white;
  z-index: 10000;
}
.navbar-brand{
  margin: 0 auto;
}

@media (max-width: 570px){
  .header-content {
    display: block;
    position: static;
    padding-top: 16px;
  }
}

.header-search-input{
  width: 300px;
  height: 40px;
  padding: 5px 20px 5px 35px;
  border: 1px solid #EFEFF4;
  border-radius: 30px;
  margin-right: 1rem;
  font-weight: bold;
}

.header-search-form{
  position: relative;
}

.header-search-label{
  position: absolute;
  left: 15px;
  top: 0;
  color: #8E8E93;
  display: inline-block;
}