/***** side-bar *****/
.side-bar{
    height: 100%;
    padding-right: 0;
}

/***** ユーザーランキング ＆ 投稿ランキング *****/
/* (タイトル部分) */
.ranking-user i, .ranking-post i{
	text-align: center;
}

.ranking-user i:before, .ranking-post i:before{
	padding-right: 5px;
}

.ranking-user-title, .ranking-post-title{
	border-bottom: 1px solid #707070;
	padding-bottom: 5px;
	margin-bottom: 1rem;
}

/***** ユーザーランキング *****/
/* ユーザー名*/
.user-panel .user-name{
	line-height: 50px;
}

/* ユーザーの説明 */
.user-explanation{
	margin-left: 50px;
}

/***** 投稿ランキング *****/
/* 投稿曲写真 */
.post-panel-image{
	width: 50px;
	height: 50px;
	background-color: pink;
	display: block;
}

/* 投稿ランキングのアクション */
#post-panel-action i{
	margin-right: .5rem;
	font-size: .75rem;
}

#post-panel-action{
	margin-bottom: 1rem;
}

/* 投稿ランキングのユーザー欄 */
#post-panel-user-icon{
	height: 25px;
	width: 25px;
}

#post-panel-user-name{
	color: #8E8E93;
}