body {
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
background-color: #F7F7F7;
font-weight: bold;
}

/***** 共通 ******/
/* 文字 */
p{
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a{
  color: inherit;
}

a:hover{
  /*text-decoration: none;*/
  color: inherit;
}

.text-gray{
  color: #5E5E5E;
}

.text-light-gray{
  color:#8E8E93;
}

.text-orange{
  color: #FF9500;
}

/* 背景色 */
.bg-white{
  background-color: #FFF;
}

.bg-gray{
  background-color: #EFEFF4;
}

.bg-orange{
  background-color: #FF9500;
}

/* float flex */
.clear{
  clear: both;
  margin: 1rem 0;
}

.flex{
  display: flex;
}

/* hr */
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #707070;
}

/* もっと見るボタン */
.more{
  border:1px solid #333;
  background-color: #333;
  color: #fff;
  padding:5px 10px;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  text-align: center;
  width:50%;
}

/* オレンジボタン */
.orange-button{
  line-height: 50px;
  border: 2px solid #FF9500;
  padding: 7px 7px;
  border-radius: 30px;
  color: #FF9500;
}

.orange-button:hover{
  background-color: #FF9500;
  color: #FFF;
  transition: 0.3s;
  text-decoration: none;
}

/***** header *****/
header {
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 48px;
  margin-bottom: 1rem;
}

.header{
  max-width: 980px;
  margin: 0 auto;
}

.props-logo{
  width: 130px;
  margin-right: 2rem;
  /****** あとで変更 ******/
  display: block;
  background-color: pink;
  /****** /あとで変更 ******/
}

.header-content {
  display: flex;
  position: absolute;
  padding-top: 16px;
  width: 980px;
}

.header-content label {
  position: absolute;
  left: 15px;
  top: 0;
  color: #8E8E93;
  display: inline-block;
  /*max-width: 100%;*/
}

.header-content form {
  position: relative;
  /*width: 100%;*/
}

.header-content input{
  width: 300px;
  height: 40px;
  padding: 5px 20px 5px 35px;
  border: 1px solid #EFEFF4;
  border-radius: 30px;
  margin-right: 1rem;
  font-weight: bold;
}

.bell{
  text-align: center;
}

.fa-bell{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px !important;
}

/*** 投稿ランキングページのheader ***/
#post-button{
  padding:10px 35px;
  margin-left: 1rem;
}
