<p>Hello <%= @resource.email %>!</p>

<p>PROPSをご利用いただきありがとうございます。</p>
<p>この度、パスワードリセットのご依頼を頂きました。</p>

<p>セキュリティおよび不正利用を防ぐ観点から、パスワード更新の確認をお願いしています。</p>

<p>確認され次第、PROPSのアカウントパスワード変更画面を操作できるようになります。</p>

<p>パスワード更新のため、次のURLをクリックするか、コピーしてブラウザのアドレス欄に貼り付けてください。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがない場合や、パスワードを変更するのをやめたい場合は、何もする必要はありません。</p>

<p>ご協力ありがとうございます。</p>

-------
<p>uni-Marble株式会社</p>
<p>PROPSパスワード変更確認メール </p>
