<header class="bg-white">
  <div class="header">
    <div class="header-content">
      <a href="#"><img class="props-logo" src="..." alt="props"></a>
      <%= render 'searches/search_form' %>
      <a href="#" class="bell mr-auto"><i class="far fa-bell bg-gray"></i></a>
      <a href="#" class="user-icon"></a>
      <p><a href="#" class="orange-button text-white bg-orange" id="post-button">投稿</a></p>
    </div>
  </div>
</header>