<% if user_signed_in? %>
  <header class="bg-white fixed-top">
    <nav class="navbar navbar-expand-md navbar-light header-container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="props-logo" src="..." alt="props"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= render 'searches/search_form' %>
          </li>
        </ul>
        <%= link_to image_tag(current_user.image, class: "user-icon"), user_index_path %>
        <p><a href="#" class="orange-button text-white bg-orange" id="post-button">投稿</a></p>
      </div>
    </nav>
  </header>
<% else %>
  <header class="bg-white modal-blur">
    <div class="header">
      <div class="header-content">
        <a href="#">
          <img class="props-logo" src="..." alt="props">
        </a>
        <%= render 'searches/search_form' %>
        <p class="header-left">
          <button type="button" class="like-a-tag" id="register-btn">新規登録</button>
          |
          <button type="button" class="like-a-tag" id="login-btn">ログイン</button>
        </p>
      </div>
    </div>
  </header>
<% end %>



<!--  -->